@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
}

canvas {
  /* background-color: rgb(6, 6, 27); */
  background-color: #03e5b7;
background-image: linear-gradient(180deg, #03e5b7 0%, #037ade 74%);}

